<h1>比24還要好笑的笑話</h1>
<h2>型別轉換</h2>
<div>
  <p>我跟我好朋友派大星報名駕訓班</p>
  <p>泡芙阿姨上課的時候很無聊</p>
  <p>這時候我好朋友跟我說一個笑話</p>
  <p>"""""""24"""""""</p>
  <p>超好笑「太勁爆了」</p>
  <p>結果教練也走到我的座位旁邊看我</p>
  <p>想問</p>
  <p>有什麼比24更好笑的笑話?</p>
  <p>（根據最後的字串是"num"或是"str"，計算出比24更好笑的笑話。笑話規則請參照範例1、2）</p>
</div>
<div>
  <h2>範例輸入 1</h2>
  <pre><code>
24 1 str
  </code></pre>
</div>
<div>
  <h2>範例輸出 1</h2>
  <pre><code>
241
  </code></pre>
  <h2>範例輸入 2</h2>
  <pre><code>
24 1 num 
  </code></pre>
</div>
<div>
  <h2>範例輸出 2</h2>
  <pre><code>
25 
  </code></pre>
</div>
